.search {
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 45px;
    font-size: 35px;
    padding-left: .9375rem;
    padding-right: .9375rem;
}

p {
    padding-left: .9375rem;
    padding-right: .9375rem;
}

.repos {
    display: flex;
    flex-wrap: wrap;
}
    
  
    
    